body{
    margin: 0px;
}



.nav{
    background-color:palevioletred;
    display: flex;
    align-items: flex-end;
}

body{
    margin: 0px;    
}
.LOGO{
    margin-right: 2000px;
}
.zunderzi{
    text-decoration: none;
    color:white;
    width: 200px;
    margin-left: 760px;
    font-size: xx-large;
}
.zunderbtn{
    margin-left: 1000px;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    text-decoration: none;
    justify-content:center;
    
}


.content1{
    background-color:cyan;
    display: flex;
    justify-content: center;
    padding: 0px;
    padding-top: 0px;
    justify-content: space-evenly;
    
}

.right-container{
    justify-content: center;
}

.homebtn{
    font-size: x-large;
    color: black;
    text-decoration: none;
    margin-left: 20px;
    
}

.productbtn{
    font-size: x-large;
    color:black;
    text-decoration: none;
    margin-left: 100px ;
}

.profilebtn{
    font-size: x-large;
    color:black;
    text-decoration: none;
    margin-left: 50px ;
}

.contactbtn{
    font-size:x-large;
    color:black;
    text-decoration: none;
    margin-left: 50px ;
}

.signupbtn{
    font-size:x-large;
    color:black;
    text-decoration: none;
    margin-left: 20px ;
}

.right-container{
    justify-content: flex;
    height: 250px;
}


#slideshow{
    margin-left: 760px;
    margin-top: 50px;
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.content3{
    justify-content: space-evenly;
    display: flex;
    height: 465px;;
}

.isiisi1{
    display: flex;
}

.isiisi2{
    display: flex;
}

.isiisi3{
    display: flex;
}

.isiisi4{
    display: flex;
}

.pen{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pencilcase{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
}

.books{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bag{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pcs1{
    font-size: medium;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: lighter;
    margin-top: 0px;
}

.pcs2{
    font-size: medium;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: lighter;
    margin-top: 0px;
}

.pcs3{
    font-size: medium;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: lighter;
    margin-top: 0px;
}

.pcs4{
    font-size: medium;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: lighter;
    margin-top: 0px;
}

.dollar1{
    margin-left: 150px;
    margin-top: 5px;
}

.dollar2{
    margin-left: 80px;
    margin-top: 5px;
}

.dollar3{
    margin-left: 140px;
    margin-top: 5px;
}

.dollar4{
    margin-left: 140px;
    margin-top: 5px;
}



.foot{
    display: flex;
    background-color: palevioletred;
    color: white;
    padding: 10px;
    align-items: center;
    font-size: xx-small;
}

.sosmed{
    margin-left: 1600px;
}

@media  (max-width: 800px) {

    .content1{
        display: block;
    }

    .content2{
        display:block;
    }

    .content3{
        display: block;
    }
   
    
  }

  @media screen and (max-width: 800px) {
    .nav,.foot {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }